.calculator {
    background: linear-gradient(to right, #00AAFF, #00FF06);
    padding: 50px;
}

.calculator_keys {
    margin: auto;
    background-color: white;
    border: solid 1px black;
    border-radius: 3px;
}

.button {
    cursor: pointer;
    padding: 5px;
    height: 70px;
    width: 70px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(198, 220, 233);
    border: solid 1px rgb(137, 189, 196);
    border-radius: 3px;
}

.button1 {
    cursor: pointer;
    width: 145px;
    height: 70px;
    background-color: rgb(179, 221, 179);
    font-weight: bold;
    font-size: 25px;
    border: solid 1px rgb(111, 223, 111);
    border-radius: 3px;
}

.button2 {
    cursor: pointer;
    padding: 5px;
    height: 70px;
    width: 70px;
    background-color: rgb(216, 79, 16);
    font-weight: bold;
    font-size: 25px;
    border: solid 1px rgb(221, 58, 29);
    border-radius: 3px;
}

.textview {
    width: 285px;
    height: 85px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 25px;
}